/* NAVBAR */
.navbar-brand > img {
    height: 55px;
}

.custom-nav-bg {
    background-color: rgba(255, 255, 255, 0.363);
    backdrop-filter: blur(10px);
}


/* JUMBOTRON */
.jumbotron {
    background: url("images/stock-white.jpg");
}

#learnMoreMain {
    color: rgb(14, 189, 189);
    background-color: white;
    border: 1px solid rgb(14, 189, 189);
}

#learnMoreMain:hover {
    color: white;
    background-color: rgb(14, 189, 189);
    border: 1px solid white;
}

/* TESTING */
.showbg {
    background-color: lightcyan;
}

.custom-rounded {
    border-radius: 8px;
    border: 2px solid black;
}

.bg-custom-dark-yellow {
    background-color:rgb(187, 187, 14);
}

.border-custom-dark-yellow {
    border-color: rgb(187, 187, 14);
}

.fa {
    font-size: 50px;
    padding: 15px;
}

.fa:hover {
    cursor: pointer;
}