/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

body {
    font-family: 'Cutive';
    font-weight: 500;
    color: rgb(88, 88, 88);
}

.head1 {
    font-family: 'Satisfy';
}

.cutify {
    font-family: 'Cutive';
}

.cutify-bold {
    font-family: 'Cutive';
    font-weight: bold;
}

.infoCard {
    height: 450px;
    width: 100%;
    background: url('images/Framework.png') center;
}

.card {
    border-radius: 0;
}

/* NAVBAR */
.navbar-brand > img {
    height: 55px;
}

.custom-nav-bg {
    background-color: rgba(238, 232, 232, 0.363);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.custom-nav-bg-dark {
    color: white;
    background-color: rgba(37, 37, 37, 0.678);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/* JUMBOTRON */
.jumbotron {
    /*background: url("images/stock-white.jpg") 50% 50%*/
    background-color: white;
}

#learnMoreMain:hover, .btn-custom-teal:hover {
    color: #68C8C6 !important;
    background-color: white;
    border: 1px solid #68C8C6;
}

#learnMoreMain, .btn-custom-teal {
    color: white !important;
    background-color: #68C8C6;
    border: 1px solid white;
    border-radius: 0;
}

.btn-custom-teal {
    padding-bottom: 10px;
}

/* TESTING */
.showbg {
    background-color: lightcyan;
}

.custom-rounded {
    border-radius: 8px;
    border: 2px solid black;
}
/*
.bg-custom-dark-yellow {
    background-color:rgb(187, 187, 14);
}

.border-custom-dark-yellow {
    border-color: rgb(187, 187, 14);
}*/

.bg-custom-teal {
    background-color: #68C8C6;
}

.border-custom-teal {
    border-color: #68C8C6;
}

.input-custom-teal {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    border-radius: 0;
    width: 100%;
    max-width: 300px;
}

.input-custom-teal:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    border: 2px solid #68C8C6;
}
.fa {
    font-size: 50px;
    padding: 15px;
}

.fa:hover {
    cursor: pointer;
}

.leadershipHeading {
    font-size: 2em;
}

.nav-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    margin: auto 15px;
}

.mailrow {
    background-color: #68C8C6;
    padding: 1px;
}

.doSomething {
    min-height: 250px;
    border-radius: 0;
}

.doSomething > a {
    color: rgb(109, 108, 108);
}

.doSomething > a:active {
    text-decoration: none;
}

#learnMoreMain {
    color: black !important;
    background-color: white;
    border: 2px solid black;
    letter-spacing: 2px;
    font-size: 0.9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#learnMoreMain:hover {
    color: white !important;
    background-color: black;
    border: 2px solid black;
}