.min-wd {
    min-width: 200px;
}

body {
    font-family: 'Raleway';
    color: black;
}

.jumbo-back {
    background: url('circle/circle-back.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.circle-front {
    text-shadow: 2px 2px 6px black;
}

.iconify {
    height: 54px;
    width: 54px;
    margin-bottom: 10px;
}